@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,500;0,600;0,700;1,100;1,200;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0');

*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

:root {
	--photons-hue: 30;
	--photons-saturation: 100%;
	--photons-lightness: 50%;

	--lightest-photons-color: hsl(
		var(--photons-hue),
		var(--photons-saturation),
		var(--photons-lightness)
	);
	--lighter-photons-color: hsla(
		var(--photons-hue),
		var(--photons-saturation),
		var(--photons-lightness),
		0.4
	);
	--photons-color: hsla(
		var(--photons-hue),
		var(--photons-saturation),
		var(--photons-lightness),
		0.837
	);

	--dark-brown-hue: 22;
	--dark-brown-saturation: 46%;
	--dark-brown-lightness: 8%;

	--dark-brown: hsl(
		var(--dark-brown-hue),
		var(--dark-brown-saturation),
		var(--dark-brown-lightness)
	);

	--fancy-heading-fontFamily: 'Press Start 2P', cursive;
	--monospace-font-family: 'IBM Plex Mono', monospace;
}

.basic_flexbox {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

::selection {
	background-color: var(--lightest-photons-color);
	color: var(--dark-brown);
}

.general_links {
	text-decoration: none;
	color: var(--lighter-photons-color);
}
.general_links:hover {
	color: var(--lightest-photons-color);
}

.general_buttons {
	background-color: transparent;
	border: none;
	color: var(--lightest-photons-color);
}
.general_buttons:hover {
	cursor: pointer;
}

body.basic_flexbox {
	background-color: var(--dark-brown);
	color: white;
	position: relative;

	min-height: 100vh;
	padding: 1rem;
	border: 5px solid var(--lightest-photons-color);

	justify-content: flex-start;
}
h1 {
	font-family: var(--fancy-heading-fontFamily);
	color: var(--photons-color);
	text-align: center;
	border-radius: 1rem;
	border: 5px dashed;
	padding: 1rem;
	width: fit-content;

	line-height: 3rem;
}
h1 a {
	animation: neonEffect 2s infinite;
	animation-delay: 1s;
}

@keyframes neonEffect {
	0% {
		color: var(--lighter-photons-color);
	}
	50% {
		color: var(--lightest-photons-color);
	}
	100% {
		color: var(--lighter-photons-color);
	}
}

.torch_div {
	user-select: none;
	cursor: pointer;
	position: absolute;
	width: 5rem;
	height: 5rem;
	border-radius: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	margin: 1rem;

	z-index: 9;
}

.blank_torch {
	opacity: 0.5;
	background-color: transparent;
}
.blank_torch:hover {
	opacity: 0.7;
}

.lighted_torch {
	background-color: var(--lighter-photons-color);
	box-shadow: 0px 0px 155px 55px var(--photons-color);

	animation: flamesLight 2s infinite;
}
@keyframes flamesLight {
	0% {
		box-shadow: 0px 0px 155px 55px var(--photons-color);
	}
	25% {
		box-shadow: 0px 0px 160px 60px var(--photons-color);
	}
	50% {
		box-shadow: 0px 0px 165px 65px var(--photons-color);
	}
	75% {
		box-shadow: 0px 0px 160px 60px var(--photons-color);
	}
	100% {
		box-shadow: 0px 0px 155px 55px var(--photons-color);
	}
}

.lights {
	cursor: pointer;
	border-radius: 100%;
	margin: auto;
	position: absolute;
	width: 100%;
}

.left_top {
	left: 0rem;
	top: 0rem;
	rotate: 30deg;
}
.right_top {
	right: 0rem;
	top: 0rem;
	rotate: -30deg;
}

.textdiv {
	font-family: var(--monospace-font-family);
	margin: 2rem;
	padding: 5rem;
	padding-inline: 10rem;
}

.textdiv p {
	position: relative;
	display: inline;
	transition: opacity 0.3s ease;
}

.textdiv p span {
	transition: opacity 0.3s ease;
}

.textdiv p:hover span {
	opacity: 1;
}

.textdiv p span.fade {
	opacity: 0.5;
}

.projectsDiv {
	width: 90%;
	padding: 1rem;

	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	justify-content: center;

	/* display: grid; */
	/* grid-template-columns: 30% 30%; */
	/* grid-gap: 2rem; */
}
.projectDiv {
	border-radius: 1rem;
	border: 3px solid var(--photons-color);

	min-width: 25rem;
	min-height: 15rem;
}

.projectDivOverlay {
	display: none;

	width: 100%;
	flex: 1;
	border-radius: inherit;
	background-color: hsl(
		var(--dark-brown-hue),
		var(--dark-brown-saturation),
		var(--dark-brown-lightness),
		0.5
	);
	position: relative;
}
.projectDiv:hover .projectDivOverlay {
	display: flex;
}
.projectDivOverlay a {
	margin: 0.5rem;
	padding: 1rem;
	font-size: 1rem;
	border: 2px solid var(--photons-color);

	background-color: var(--dark-brown);
	border-radius: 1rem;
	font-family: var(--monospace-font-family);
	font-weight: 900;
}

.projectInfoButton {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	opacity: 0.7;

	font-size: 2rem;

	padding: 0;
	border-radius: 100%;
	text-shadow: 0px 0px 12px var(--dark-brown);
}
.projectInfoButton:hover {
	opacity: 1;
}

@media screen and (max-width: 930px) {
	.torch_div {
		top: 15vh;
		width: 4rem;
		height: 4rem;
	}
	.textdiv {
		padding: 1rem;
	}
}

@media screen and (max-width: 450px) {
	h1 {
		font-size: 1.5rem;
	}
	.torch_div {
		top: 25vh;

		width: 3rem;
		height: 3rem;
	}
	.textdiv {
		padding: 1rem;
		text-align: center;
	}

	.left_top {
		top: 100vh;
	}
	.projectDiv {
		min-width: 90%;
		/* min-height: 10rem; */
	}
	.projectDivOverlay a {
		padding: 0.5rem;
		font-size: 0.7rem;
		margin-block: 1.3rem;
		display: none;
	}
}
